*{
  box-sizing: border-box;
}

.App{
  width: 100vw ;
  background-color: beige;
  display: flex;


}

.cvEditor{
  width: 100%;
  background-color: aquamarine;
  padding: 1rem;
  margin: 2rem;
  border: 1px solid black;}

.cvPage{
  width: 100%;
  background-color: rgb(227, 255, 227);
  padding: 1rem;
  margin: 2rem;
  border: 1px solid black;
}
